@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

$fontFamily: 'Roboto';

$minWidth: 375px;
$maxWidth: 1440;
$maxWidthContainer: 1070;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 768.98;
$md4: 479.98;

@import 'null';
body {
    color: #6175BD;
    font-size: 16px;
    &._lock {
        overflow: hidden;
    }
}

// Оболочка================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    &._loaded {
    }
}
.header {
    grid-area: header;
}
main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}

//Основная сетка================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    @media (max-width: $md2+px) {
        max-width: none;
    }
}

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

@import 'null';
@import 'ui';
@import 'header';
@import 'intro';
@import 'interface';
@import 'pricing';
@import 'advantages';
@import 'creators';
@import 'beta';
@import 'getstarted';
@import 'footer';

